.header {
    padding: 1.25rem 1.5rem;

    h2 {
        font-size: 1.4rem;
    }

    @media (max-width: 768px) {
        padding-left: 1rem;
        padding-right: 1rem;

        h2 {
            font-size: 1.2rem;
        }
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.verified {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    color: #61bd4f;
    svg {
        height: 20px;
        margin-right: 5px;
        fill: #61bd4f;
        color: #61bd4f;
    }

    @media (max-width: 768px) {
        margin-left: 0;
    }
}