@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
}

/*todo: move to separate file*/
.ticket-item.verified {
  border-left: 4px solid #4989bb;
}

.ticket-item:hover {
  box-shadow: 0 0 8px rgba(33, 33, 33, 0.2);
}

.ticket-item.verified .ticket-item__number {
  color: #4989bb;
}

/* MAPBOX */

body .mapboxgl-ctrl-geocoder {
  width: 100%;
  max-width: 100vw;
  box-shadow: none;
  z-index: auto;
}

body .mapboxgl-ctrl-geocoder input {
  width: 100%;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  font-size: var(--chakra-fontSizes-md);
  padding-inline-end: var(--chakra-space-4);
  height: var(--chakra-sizes-10);
  border-radius: var(--chakra-radii-md);
  border: 1px solid;
  border-color: inherit;
}
